body, main {
    min-height: 50rem;
    padding-bottom: 100px;
}

header {
    /*padding-top: 70px;*/
}

table.datatable {
    width: 100%;
}

/* UTILIDADES
-------------------------------------------------- */

.card-title {
    font-size: 16pt;
}

img.iconized {
    max-height: 50px;
}

.btn-visibility .fa-eye,
.btn-visibility .fa-eye-slash {
    display: none;
}

.btn-visibility[data-visible='1'] .fa-eye {
    display: inline;
}

.btn-visibility[data-visible='0'] .fa-eye-slash {
    display: inline;
}

.font-custom, h1 {
    font-family: 'Tahoma', sans-serif;
}

.sh-2 {
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.sh-1 {
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.4);
}

.text-sh-2 {
    text-shadow: black 1px 2px 4px;
}

.text-sh-1 {
    text-shadow: black 1px 2px 2px;
}

.img-container {
    overflow: hidden;
}

.img-container img {
    position: relative;
    width: 100%;
    /*max-height: 100%;*/
}

a.unstyled:hover {
    color: inherit;
    text-decoration: underline;
}

.unstyled {
    color: inherit;
    text-decoration: none;
    text-transform: lowercase;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.price:before {
    content: "R$ ";
}

.price {
    font-weight: 700;
    color: #0c6600;
}

.price.muted {
    font-weight: 400;
    color: #7b7b7b;
}

div.label {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #7b7b7b;
}

input[type='checkbox'].dismissed,
input[type='radio'].dismissed {
    display: block;
    opacity: 0;
    cursor: pointer;
    /*visibility:hidden;*/
    position: absolute;
}

.highlight-item:hover {
    z-index: 99;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
}

table.detail-table.limit-heading th {
    max-width: 3em;
}

table.detail-table th {
    text-decoration: none;
    color: #222;
    font-weight: 100;
    text-align: right;
    width: 30%;
    max-width: 170px;
    min-width: 100px;
}

.signature {
    font-family: 'Tangerine', cursive;
    font-weight: 400;
    font-size: 30pt;
}

.shy-button {
    top: 10px;
    right: 10px;
    position: absolute;
}

.user-avatar {
    border-radius: 50%;
    overflow: hidden;
    max-width: 100%;
}

/* Empresas
-------------------------------------------------- */
div.enterprise-logo img {
    width: 100%;
}
div.enterprise-logo {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

/* Detalhamento
-------------------------------------------------- */
.detail-table td {
    font-weight: 400;
}

.detail-table th {
    font-weight: 400;
    color: #5a5a5a;
    text-align: right;
    font-size: 0.8em;
}

.event-title {
    /*background-color: rgba(255, 255, 255, 0.7);*/
    margin: -100px auto 0 auto;
    max-width: 700px;
}

.event-attr {
    font-size: 1.1em;
}

.event-title-date {
    min-width: 300px;
}

/* Projetos
-------------------------------------------------- */
.badge-o.muted {
    border: #8f8c91 1px solid;
    color: #8f8c91;
}

.badge-o {
    padding: 3px 5px;
    border: #5b81b5 1px solid;
    color: #5b81b5;
    overflow: hidden;
    white-space: nowrap;
    margin: 2px;
    font-size: 0.8em;
}

/* CARD
-------------------------------------------------- */
.card-block {
    padding: 15px;
}

a.card {
    color: inherit;
}

a.card:hover {
    color: inherit;
    text-decoration: none;
}

.stretch-card .card, .col-card .card {
    height: 100%;
}

.project-card .card-img-top {
    overflow: hidden;
    max-height: 15rem;
}

.project-card .card-img-top img {
    width: 100%;
}

.card-featured h6 {
    text-transform: uppercase;
}

/* CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 1rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-color: transparent;
}

.carousel-item > img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    min-width: 100%;
    /*height: 32rem;*/
}

/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

.input-group-addon .fa {
    width: 16px;
}

/* Submenu
-------------------------------------------------- */
.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: .875rem;
}

.small-label {
    color: #575757;
    margin: 0;
    margin-left: 5px;
    font-size: 0.7em;
}

/* CAROUSEL RESPONSIVE AJUSTMENTS
-------------------------------------------------- */
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/* RESPONSIVE CSS RESOLUTIONS
-------------------------------------------------- */

@media (max-width: 575px) {
    .card-featured div.card-img-top, .carousel-item {
        height: 14rem;
    }

    .my-md-1 {
        margin: 5px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .card-featured div.card-img-top {
        height: 8rem;
    }

    .carousel-item {
        height: 15rem;
    }

    .my-md-1 {
        margin: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .card-featured div.card-img-top {
        height: 7rem;
    }

    .carousel-item {
        height: 21rem;
    }

    .my-md-1 {
        margin: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .card-featured div.card-img-top {
        height: 7rem;
    }

    .carousel-item {
        height: 29rem;
    }

    .my-md-1 {
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .card-featured div.card-img-top {
        min-height: 7rem;
    }

    .my-md-1 {
        margin: 0;
    }
}